<div class="container">
    <app-card-formacoes [tituloCurso]="'HTML'" [link]="'html'" [leftWidth]="'10%'" [rightWidth]="'80%'"
      [backgroundColor]="'#ff7043'" [borderLeft]="'4px solid #ff7043'">
    </app-card-formacoes>
    <app-card-formacoes [tituloCurso]="'CSS'" [link]="'css'" [leftWidth]="'10%'" [rightWidth]="'80%'"
      [backgroundColor]="'#1e88e5'" [borderLeft]="'4px solid #1e88e5'">
    </app-card-formacoes>
    <app-card-formacoes [tituloCurso]="'React JS'" [link]="'react'" [leftWidth]="'10%'" [rightWidth]="'80%'"
      [backgroundColor]="'#9162e4'" [borderLeft]="'4px solid #9162e4'">
    </app-card-formacoes>
    <app-card-formacoes [tituloCurso]="'Angular JS'" [link]="'angular'" [leftWidth]="'10%'" [rightWidth]="'80%'"
      [backgroundColor]="'#ef5350'" [borderLeft]="'4px solid #ef5350'">
    </app-card-formacoes>
    <app-card-formacoes [tituloCurso]="'Bootstrap'" [link]="'bootstrap'" [leftWidth]="'10%'" [rightWidth]="'80%'"
      [backgroundColor]="'#6a1b9a'" [borderLeft]="'4px solid #6a1b9a'">
    </app-card-formacoes>
  </div>
