<mat-toolbar>
  Bem vindo, usuário
</mat-toolbar>
<div class="home-header">
  <mat-icon>school</mat-icon> <span>Formações</span>
  <h1>Explore o nosso conteúdo</h1>
  <h3>Conheça nossas formações, e os melhores cursos para você se tornar o profissional que o mercado procura</h3>
</div>
<div class="container">
  <p>descubra a formação ideal pra vc</p>
  <div class="menu-title">
    <div class="title-left">
      <p>categorias</p>
    </div>
    <div class="title-right">
      <p>Formações</p>
    </div>
  </div>
  <div class="menu-programacao">
    <div class="p-left">
      <p>Programação</p>
      <a href="#">Ver cursos</a>
    </div>
    <div class="right">
      <ul>
        <li>Java</li>
        <li>C/C++</li>
        <li>Javascript</li>
        <li>PHP</li>
      </ul>
    </div>
  </div>
  <div class="menu-frontend">
    <div class="f-left">
      <p>Frontend</p>
      <a href="#">Ver cursos</a>
    </div>
    <div class="right">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>React JS</li>
        <li>Angular</li>
      </ul>
    </div>
  </div>
  <div class="menu-backend">
    <div class="b-left">
      <p>Backend</p>
      <a href="#">Ver cursos</a>
    </div>
    <div class="right">
      <ul>
        <li>Java</li>
        <li>.NET</li>
        <li>Node JS</li>
        <li>PHP</li>
      </ul>
    </div>
  </div>
  <div class="menu-devops">
    <div class="d-left">
      <p>DevOps</p>
      <a href="#">Ver cursos</a>
    </div>
    <div class="right">
      <ul>
        <li>AWS</li>
        <li>Azure</li>
        <li>Docker</li>
      </ul>
    </div>
  </div>
  <div class="menu-automacao">
    <div class="a-left">
      <p>Automação</p>
      <a href="#">Ver cursos</a>
    </div>
    <div class="right">
      <ul>
        <li>Arduino</li>
        <li>Raspberry</li>
        <li>CLP</li>
      </ul>
    </div>
  </div>
</div>
