<mat-toolbar color="primary" class="header-toolbar">
  <span>CBorges Solutions</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span>Projeto - Cursos</span> -->
  <div class=" icones">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
      user_name
    </button>
    <button mat-icon-button>
      <mat-icon>language</mat-icon>
      Lang
    </button>
  </div>
</mat-toolbar>
