<div class="container">
    <div class="dashboard">
        <div class="left">
            <app-card [titulo]="'Frontend'" [conteudo]="'Veja nossos cursos de formação frontend'" [link]="'frontend'"></app-card>
            <app-card [titulo]="'Backend'" [conteudo]="'Veja nossos cursos de formação backend'" [link]="'backend'"></app-card>
        </div>
        <div class="right">
            <app-card [titulo]="'Automação'" [conteudo]="'Veja nossos cursos de automação residencial'" [link]="'automacao'"></app-card>
            <app-card [titulo]="'DevOps'" [conteudo]="'Veja nossos cursos de DevOps'" [link]="'devops'"></app-card>
        </div>
    </div>
</div>
