.container{
    display: flex;
    flex-direction: column;
}
.dashboard{
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 48%;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 48%;
}