.login-content {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-card {
  border-radius: 8px;
  background: #eeeeee;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  width: 450px;
  min-width: 320px;
}
.login-button {
  width: 100%;
  height: 36px;
  box-shadow: none;
}
.card-login-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 26px;
  overflow: visible;
  width: 100%;
}
.card-login-action {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
