<!-- <div class="login-body">
  <mat-card class="card-login">
    <mat-card-title class="card-login-titulo">Login</mat-card-title>
    <mat-card-content class="card-login-conteudo">
      <div class="corpo-login">
        <mat-form-field>
          <mat-label>Seu e-mail</mat-label>
          <input matInput placeholder="pat@example.com" required>

        </mat-form-field>
        <mat-form-field>
          <mat-label>Sua senha</mat-label>
          <input matInput type="password" required>

        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-login-acoes">
      <button class="btn-entrar btn btn-primary">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<div class="login-content">
  <mat-card class="login-card">
    <form action="">
      <mat-card-header>
        <mat-card-title>
          <div class="logo-empresa"><img src="" alt="">logo aqui</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-login-controls">
        <div class="campo-login">
          <mat-form-field>
            <input matInput type="text" placeholder="e-mail">
          </mat-form-field>
        </div>
        <div class="campo-senha">
          <mat-form-field>
            <input matInput type="password" placeholder="senha">
          </mat-form-field>
        </div>
        <button class="login-button btn btn-primary">Entrar</button>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-login-action-container">
          <div class="card-login-action">
            <div class="login-action-left"><a href="#">Preciso de ajuda</a></div>
            <div class="login-action-right"><a href="#">Registrar</a></div>
          </div>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
