<div class="container">
  <app-card-formacoes [tituloCurso]="'AWS'" [link]="'html'" [leftWidth]="'10%'" [rightWidth]="'80%'"
    [backgroundColor]="'#6a1b9a'" [borderLeft]="'4px solid #6a1b9a'">
  </app-card-formacoes>
  <app-card-formacoes [tituloCurso]="'Docker'" [link]="'css'" [leftWidth]="'10%'" [rightWidth]="'80%'"
    [backgroundColor]="'#0097a7'" [borderLeft]="'4px solid #0097a7'">
  </app-card-formacoes>
  <app-card-formacoes [tituloCurso]="'Admin de redes'" [link]="'react'" [leftWidth]="'10%'" [rightWidth]="'80%'"
    [backgroundColor]="'#f44336'" [borderLeft]="'4px solid #f44336'">
  </app-card-formacoes>
  <app-card-formacoes [tituloCurso]="'Microsoft Azure'" [link]="'angular'" [leftWidth]="'10%'" [rightWidth]="'80%'"
    [backgroundColor]="'#039be5'" [borderLeft]="'4px solid #039be5'">
  </app-card-formacoes>
</div>
