<div class="forum-header">
  <h1>Forum</h1>
</div>
<div class="container">
  <div class="forum-temas">
    <div class="tema-programacao">
      <div class="t-prog-icon">
        <mat-icon>school</mat-icon>
      </div>
      <div class="t-prog-tags">
        <div class="tag-titulo">
          <h2>Programação</h2>
        </div>
        <div class="tag-body">
          <h5>Logica de programação</h5>
          <h5>Java</h5>
          <h5>computação</h5>
        </div>
      </div>
      <div class="t-prog-topicos">
        <h2>123</h2>
        <a href="#">Tópicos</a>
      </div>
      <div class="t-prog-acesso">
        <h2>233</h2>
        na ultima semana
      </div>
      <div class="t-prog-resp">
        <h2>187</h2>
        <a href="#">sem resposta</a>
      </div>
    </div>
    <div class="tema-programacao">
      <div class="t-prog-icon">
        <mat-icon>school</mat-icon>
      </div>
      <div class="t-prog-tags">
        <h2>Front-end</h2>
        <div class="tag-body">
          <div class="tag-header">
            <h5>Logica de programação</h5>
          </div>
          <h5>Java</h5>
          <h5>computação</h5>
        </div>
      </div>
      <div class="t-prog-topicos">tópicos</div>
      <div class="t-prog-acesso">na ultima semana</div>
      <div class="t-prog-resp">sem resposta</div>
    </div>

  </div>

  <div class="forum-pesquisa">
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
  <div class="forum-tabela">
    <app-tabela-forum></app-tabela-forum>
  </div>
</div>
